.preview {
  display: none;
}

@media only screen and (max-width: 600px) {
  .desktop {
    display: none;
  }
  /* .h1 {
    background-color: green;
  } */
  .tablet {
    display: none;
  }
  .mobile {
    display: block;
  }
}
@media only screen and (min-width: 760px) {
  .desktop {
    display: none;
  }
  /* tested query */
  /* .h1 {
    background-color: rgb(4, 0, 128);
  } */
  .tablet {
    display: block;
  }
  .mobile {
    display: none;
  }
}
@media only screen and (min-width: 1440px) {
  .desktop {
    display: block;
  }
  /* .h1 {
    background-color: rgb(128, 43, 0);
  } */
  .tablet {
    display: none;
  }
  .mobile {
    display: none;
  }
}

